---
layout: default
title: Contribute to GitLab
description: "Learn about contributing to GitLab and read the guidelines, contribution process, sponsor the development of new features, and more."
suppress_header: true
extra_css:
  - contributing.css
---
.wrapper
  .simple-header
    %h1 Contribute to GitLab
    %p
    :markdown
      The next [GitLab Hackathon](https://about.gitlab.com/community/hackathon/) will be on August 28th - 29th, 2019!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title 
          :markdown
            We want to make it as easy as possible for GitLab users to become GitLab contributors, so we’ve created this contribution guide to help you get started. We have multiple tracks to cater to people of varying interests so that **everyone can contribute**.

            In addition to Open Source Development, there are also Documentation, Translation, and UX Design tracks. Documentation, Translation, and UX Design are all just as important as code, and we'd be happy to welcome your contributions.
            
            ![Community growth numbers](/images/community/wider-community-growth.png){: .medium}<br>
            
            We want to create a welcoming environment for everyone who is interested in contributing. Please visit our [Code of Conduct page](/community/contribute/code-of-conduct/) to learn more about our commitment to an open and welcoming environment.            

      .row.flex-row.area-row
        -data.contribute_page.each do |area|
          .col-md-3
            %h2.area-name
              = area.category
            %p.area-description
              = area.description
            .row.area-more
            = link_to area.link_text, area.link

      .block
        .block-content
          %h2#getting-help.block-title 
            %a{ href: '#getting-help' } Getting Help
          :markdown
            If you need any help while contributing to GitLab, below are some of the resources that are available.

            1. Ask questions on the [Contributors Gitter Channel](https://gitter.im/gitlabhq/contributors).
            1. Get in touch with [Merge Request Coaches](/job-families/expert/merge-request-coach/). To find a merge request coach, go to the [GitLab Team Page](/team/) and search for "merge request coach". You can also [mention](https://docs.gitlab.com/ee/user/group/subgroups/#mentioning-subgroups) Merge Request Coaches by typing `@gitlab-org/coaches` in a comment.
            1. Find reviewers & maintainers of Gitlab projects in our [handbook](/handbook/engineering/projects/#gitlab-ce) and [mention](https://docs.gitlab.com/ee/user/group/subgroups/#mentioning-subgroups) them in a comment.
            1. If you have feature ideas/questions, you can reach out to [product team members](/handbook/product/categories/).
            1. For any other questions or feedback, please email `contributors@gitlab.com`.
